.second-column-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.txt-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #ff6060;
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
}

.location {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.host-container {
  display: flex;
  padding: 10px;
}
.hostName {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  color: #ff6060;
  padding-right: 10px;
}
.hostImage {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  line-height: 50px;
}



