.footer-container {
    gap: 20px;
    height: 209px;
    background-color: var(--quaternaryColor);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footer-container img {
    margin-top: 80px;
    max-width: 122px;
}

.footer-content {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: var(--tertiaryColor);
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .footer-items {
        margin: 40px auto;
    }
    
    .footer-content {
        font-size: 18px;
    }
}