.logo {
  width: 210.32px;
  height: 68px;
  display: flex;
}

.logo img {
  height: 50px;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 145px;
        height: 47px;
    }

    .logo img {
        height: 40px;
    }
}
