
.navbar-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: var(--primaryColor);
    white-space: nowrap;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.1px;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        gap: 15px;
    }

    .navbar-link {
        font-size: 18px;
    }
}
