.section_1 {
  height: 223px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_1::before {
    position: absolute;
    content: "";
    inset: 0;
    background: #000;
    mix-blend-mode: darken;
    opacity: 0.3;
}
.section_1 img {
  height: 100%;
  object-fit: cover;
}

.section-name {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(24px, 4vw, 48px);
    font-weight: 500;
    white-space: nowrap;
    margin-inline: 16px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .section_1 {
        border-radius: 10px;
        height: 111px;
    }
}

