.error404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error404-titles {
  text-align: center;
}

.errorTitle {
  font-size: 288px;
  margin-top: 70px;
  /* line-height: 411px; */
  font-weight: 700;
  font-style: normal;
  color: #ff6060;
}

.errorTxt {
  font-size: 36px;
  font-weight: 500;
  /* margin: 30px; */
  /* line-height: 51px; */
  color: #ff6060;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
}

.backToHome {
  text-align: center;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    margin-top: 100px;
    /* line-height: 150px; */
    color: #ff6060;
    font-style: normal;
    cursor: pointer;
}
.backToHome:hover {
  color: rgb(17, 171, 171);
}

@media screen and (max-width: 768px) {
    
    .errorTitle {
      font-size: 100px;
      margin-top: 210px;
    }

    .errorTxt {
      font-size: 18px;
    }

    .backToHome {
      font-size: 16px;
      margin-bottom: 170px;
    }
}