#root {
  /* max-width: 1440px; */
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  flex: 1 1;
  max-width: 1240px;
  width: 100%;
  margin-inline: auto;
}
@media all and (max-width: 768px) {
  #root {
    max-width: 375px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    width: 89.286%;
  }
}

@media all and (min-width: 769px) and (max-width: 1245px) {
  /* Reregler tt en % pr pouvoir allonger ts les elmts de la page */
}
